.description {
  max-width: 400px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 2rem;
  pointer-events: none;
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.label {
  font-weight: 700;
}
